/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a {
  /* for Firefox */
  outline: none;
  /* for IE */
  hlbr: expression(this.onFocus=this.blur());
  cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

select,
input,
textarea {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

button {
  background: none;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: -moz-hidden-unscrollable;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  color: #222222;
  font-family: "Playfair Display", "Noto Serif TC", serif;
  -ms-overflow-style: none;
  height: 100%;
  overflow: auto;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
}

.btn {
  display: block;
  width: 180px;
  height: 40px;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 40px;
  color: #596a5e;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  border: 1px solid #596a5e;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all duration ease;
  transition: all duration ease;
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

.btn:hover {
  color: #ac6249;
  border-color: #ac6249;
}

.fixed {
  z-index: 99;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 1px solid #596a5e;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 10px rgba(34, 34, 34, 0.16);
          box-shadow: 0px 3px 10px rgba(34, 34, 34, 0.16);
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all duration ease;
  transition: all duration ease;
}

.fixed:hover {
  cursor: pointer;
  bottom: 25px;
}

section {
  width: 100vw;
}

header {
  z-index: 9;
  position: fixed;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 35px;
  color: #596a5e;
}

header::before {
  content: "";
  height: 90px;
  position: absolute;
  left: 335px;
  top: 0;
  border-left: 1px solid #596a5e;
}

header .logo {
  position: relative;
  top: 90px;
  left: 240px;
}

header .logo::before {
  content: "";
  height: 40px;
  position: absolute;
  top: 40px;
  left: 90px;
  border-left: 1px solid #596a5e;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all duration ease;
  transition: all duration ease;
}

header .logo::after {
  content: "";
  height: 40px;
  position: absolute;
  top: 40px;
  left: 90px;
  border-left: 1px solid #596a5e;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all duration ease;
  transition: all duration ease;
}

header .logo:hover {
  cursor: pointer;
}

header .logo:hover::before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

header .logo:hover::after {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

header .logo:hover .spark-joy-walter {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

header .logo:hover .moonplo {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

header .logo .moonplo {
  margin: 48px 0 0 10px;
  -webkit-transition: all 0.35s ease;
  -webkit-transition: all duration ease;
  transition: all duration ease;
}

header .logo .spark-joy-walter {
  -webkit-transition: all 0.25s ease;
  -webkit-transition: all duration ease;
  transition: all duration ease;
}

@media (max-width: 796px) {
  header {
    font-size: 18px;
    line-height: 30px;
  }
  header::before {
    left: 120px;
  }
  header .logo {
    top: 90px;
    left: 30px;
  }
  header .logo::before {
    height: 30px;
    top: 30px;
    left: 90px;
  }
  header .logo::after {
    height: 30px;
    top: 30px;
    left: 90px;
  }
  header .logo .moonplo {
    margin: 30px 0 0 10px;
  }
}

.header {
  width: 100vw;
  height: 100px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 20px;
  color: #596a5e;
  background-color: #fcf5e8;
  -webkit-box-shadow: 0px 3px 3px rgba(34, 34, 34, 0.16);
          box-shadow: 0px 3px 3px rgba(34, 34, 34, 0.16);
}

.header::before {
  display: none;
}

.header .logo {
  position: relative;
  top: 10px;
  left: 140px;
}

.header .logo::before {
  content: "";
  height: 30px;
  position: absolute;
  top: 25px;
  left: 80px;
  border-left: 1px solid #596a5e;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .logo::after {
  content: "";
  height: 30px;
  position: absolute;
  top: 25px;
  left: 80px;
  border-left: 1px solid #596a5e;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .logo:hover {
  cursor: pointer;
}

.header .logo:hover::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .logo:hover::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .logo:hover .spark-joy-walter {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header .logo:hover .moonplo {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header .logo .moonplo {
  margin: 40px 0 0 0;
}

@media (max-width: 796px) {
  .header {
    height: 80px;
    font-size: 16px;
    line-height: 20px;
  }
  .header .logo {
    top: 10px;
    left: 20px;
  }
  .header .logo::before {
    height: 20px;
    top: 23px;
    left: 60px;
  }
  .header .logo::after {
    height: 20px;
    top: 23px;
    left: 60px;
  }
  .header .logo .moonplo {
    margin: 25px 0 0 0;
  }
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.4em;
  line-height: 44px;
  color: #596a5e;
}

.main {
  height: 100vh;
  position: relative;
}

.main .cover {
  position: absolute;
  right: 140px;
  bottom: 90px;
}

.main .cover img {
  width: auto;
  height: 60vh;
}

.main .info {
  position: absolute;
  left: 140px;
  bottom: 120px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 36px;
  color: #596a5e;
  font-family: "Playfair Display", "Noto Serif TC", serif;
}

.main .info .date {
  margin: 20px 0;
  font-size: 36px;
}

.main .info .date span {
  font-size: 52px;
}

.main .info .time {
  margin: 10px 20px;
  letter-spacing: 0.1em;
}

.main .info .time span {
  font-size: 32px;
}

.main .info .place {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: "Noto Sans TC", sans-serif;
}

.main .info .address {
  margin: 0 10px;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: "Noto Sans TC", sans-serif;
}

@media (max-width: 796px) {
  .main .cover {
    top: 240px;
    right: 0;
  }
  .main .cover img {
    width: 80vw;
    height: auto;
  }
  .main .info {
    left: 30px;
    bottom: 30px;
    font-size: 18px;
    line-height: 28px;
  }
  .main .info::after {
    z-index: 1;
    content: "";
    width: 80vw;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .main .info .date {
    z-index: 2;
    position: relative;
    margin: 10px 0;
    font-size: 26px;
  }
  .main .info .date span {
    font-size: 36px;
  }
  .main .info .time {
    z-index: 2;
    position: relative;
    margin: 6px 20px;
    letter-spacing: 0.1em;
  }
  .main .info .time span {
    font-size: 24px;
  }
  .main .info .place {
    font-size: 14px;
  }
  .main .info .address {
    font-size: 14px;
  }
}

.title {
  padding-bottom: 17px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 38px;
  color: #ac6249;
}

.title span {
  font-size: 24px;
}

.content {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  color: #222222;
  font-family: "Noto Sans TC", sans-serif;
}

.content span {
  padding-right: 10px;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  color: #ac6249;
  font-family: "Playfair Display", "Noto Serif TC", serif;
}

.content b {
  font-weight: 700;
  font-size: 20px;
}

.content i {
  color: #596a5e;
}

.content .soon {
  position: relative;
}

.content .soon::before {
  z-index: 2;
  content: "Coming Soon!";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30px;
  color: #ffffff;
  font-family: "Playfair Display", "Noto Serif TC", serif;
  font-style: italic;
}

.content .soon::after {
  z-index: 1;
  content: "";
  width: 520px;
  height: 301.61px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(172, 98, 73, 0.7);
}

.content .soon img {
  width: 520px;
  height: 301.61px;
}

.start-joy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-joy-container {
  width: 1120px;
  padding: 200px 0 60px 0;
  position: relative;
}

.start-joy-container #sparkJoy,
.start-joy-container #startJoy {
  position: relative;
}

.start-joy-container #timeArt {
  position: relative;
  left: calc(1120px - 800px);
}

.start-joy-container #timeArt .title {
  color: #596a5e;
}

.start-joy-container #sparkJoy {
  width: 670px;
  margin: 60px 0;
  padding: 100px 70px 90px 113px;
  background-color: #f2eae3;
  border-radius: 80% 60% 90% 70%;
}

.start-joy-container #sparkJoy:hover {
  cursor: pointer;
  -webkit-animation: shake 1s infinite;
  animation: shake 1s infinite;
}

.start-joy-container #timeArt {
  width: 760px;
  margin: 60px 0;
  padding: 70px 120px;
  border: 1px solid #596a5e;
  border-radius: 80% 75% 70% 70%;
  text-align: right;
  -webkit-transition: all 0.8s ease;
  -webkit-transition: all duration ease;
  transition: all duration ease;
}

.start-joy-container #timeArt:hover {
  cursor: pointer;
  border-radius: 86% 64% 88% 75%;
}

.start-joy-container #timeArt:hover::after {
  border-radius: 80% 75% 70% 70%;
}

.start-joy-container #timeArt::after {
  content: "";
  width: 760px;
  height: 540px;
  position: absolute;
  top: -5px;
  left: 10px;
  border: 1px solid #dbc6b5;
  border-radius: 74% 70% 77% 78%;
  -webkit-transition: all 0.8s ease;
  -webkit-transition: all duration ease;
  transition: all duration ease;
}

.start-joy-container #timeArt .content iframe {
  min-width: 480px;
  width: 480px;
  max-width: 480px;
}

@media (max-width: 796px) {
  .content {
    font-size: 16px;
    line-height: 30px;
  }
  .content b {
    font-size: 18px;
  }
  .content i {
    color: #596a5e;
  }
  .content .soon {
    position: relative;
  }
  .content .soon::before {
    font-size: 30px;
  }
  .content .soon::after {
    z-index: 1;
    content: "";
    width: calc(100vw - 100px);
    height: calc(100% - 9px);
    position: absolute;
    left: 18px;
    top: 0;
  }
  .content .soon img {
    width: calc(100vw - 100px);
    height: auto;
  }
  .start-joy-container {
    width: calc(100vw - 40px);
  }
  .start-joy-container #timeArt {
    left: 0px;
  }
  .start-joy-container #sparkJoy {
    width: calc(100vw - 40px);
    margin: 40px 0;
    padding: 30px 20px;
    border-radius: 10px;
  }
  .start-joy-container #sparkJoy:hover {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
  }
  .start-joy-container #timeArt {
    width: calc(100vw - 40px);
    margin: 40px 0;
    padding: 30px 20px;
    border-radius: 10px;
  }
  .start-joy-container #timeArt:hover {
    border-radius: 10px;
  }
  .start-joy-container #timeArt:hover::after {
    border-radius: 10px;
  }
  .start-joy-container #timeArt::after {
    content: "";
    width: calc(100vw - 40px);
    height: calc(100%);
    top: 8px;
    left: 5px;
    border-radius: 10px;
  }
}

#join {
  background: #f2eae3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join-container {
  width: 1120px;
  padding: 80px 0;
}

.join-container h1 {
  color: #ac6249;
}

.join-container p {
  font-family: "Noto Sans TC", sans-serif;
}

.join-container .paragraph-wrap {
  margin-top: 50px;
}

.join-container .bonus-container {
  margin: 20px 0;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join-container .bonus-container .bonus-item {
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all duration ease;
  transition: all duration ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join-container .bonus-container .bonus-item:hover {
  cursor: pointer;
}

.join-container .bonus-container .bonus-item:hover .icon {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background-color: white;
}

.join-container .bonus-container .bonus-item:hover .bonus {
  color: #596a5e;
}

.join-container .bonus-container .icon {
  width: 180px;
  height: 180px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 3px 10px rgba(34, 34, 34, 0.16);
          box-shadow: 0px 3px 10px rgba(34, 34, 34, 0.16);
}

.add-office-account-btn {
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all duration ease;
  transition: all duration ease;
}

.add-office-account-btn:hover {
  opacity: 0.6;
}

.add-office-account-btn img {
  margin: 20px 0;
  height: 50px;
}

@media (max-width: 960px) {
  .join-container {
    width: calc(100vw - 40px);
  }
  .join-container .bonus-container {
    margin: 20px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .join-container .bonus-container .bonus-item {
    width: 120px;
    margin: 20px;
    -webkit-transition: all 0.3s ease;
    -webkit-transition: all duration ease;
    transition: all duration ease;
  }
  .join-container .bonus-container .bonus-item:hover {
    cursor: pointer;
  }
  .join-container .bonus-container .bonus-item:hover .icon {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    background-color: white;
  }
  .join-container .bonus-container .bonus-item:hover .bonus {
    color: #596a5e;
  }
  .join-container .bonus-container .icon {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 3px 10px rgba(34, 34, 34, 0.16);
            box-shadow: 0px 3px 10px rgba(34, 34, 34, 0.16);
  }
}

.location {
  height: 400px;
}

footer {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  color: #ffffff;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #596a5e;
  text-align: center;
}

footer .copyright {
  margin: 0 40px;
}

footer .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

footer .link-container img {
  margin: 0 10px;
}

footer .link-container img:hover {
  opacity: 0.8;
}

footer .logo {
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo #walter {
  margin-right: -10px;
  height: 60px;
}

footer .logo #moonpio {
  height: 100px;
}

@media (max-width: 796px) {
  footer {
    height: 180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .copyright {
    margin: 10px;
  }
  footer .link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .logo {
    margin-right: 0;
  }
  footer .logo #walter {
    margin-right: 0px;
    height: 39px;
  }
  footer .logo #moonpio {
    height: 65px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
            transform: scale3d(1.02, 1.02, 1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
            transform: scale3d(1.02, 1.02, 1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes shake {
  0% {
    border-radius: 80% 60% 90% 70%;
  }
  50% {
    border-radius: 86% 64% 88% 75%;
  }
  100% {
    border-radius: 80% 60% 90% 70%;
  }
}

@keyframes shake {
  0% {
    border-radius: 80% 60% 90% 70%;
  }
  50% {
    border-radius: 86% 64% 88% 75%;
  }
  100% {
    border-radius: 80% 60% 90% 70%;
  }
}
/*# sourceMappingURL=style.css.map */