@import "./reset";

// font
$font-family: "Playfair Display", "Noto Serif TC", serif;
$content-font-family: "Noto Sans TC", sans-serif;
$font-color: #222222;
// color
$main-color: #596a5e;
$secondary-color: #f2eae3;
$third-color: #dbc6b5;
$accent-color: #ac6249;
$header-color: #fcf5e8;
// mask
$mask: rgba(#222222, 0.8);

@mixin font($size, $weight, $spacing, $line-height, $color) {
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
    line-height: $line-height;
    color: $color;
}

@mixin flex($horizontal, $vertical) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin transition($duration, $function) {
    -webkit-transition: all $duration $function;
    -moz-transition: all $duration $function;
    -ms-transition: all duration $function;
    -o-transition: all duration $function;
    transition: all duration $function;
}

@mixin animation($name, $duration, $mode) {
    -webkit-animation: $name $duration $mode;
    -moz-animation: $name $duration $mode;
    -o-animation: $name $duration $mode;
    animation: $name $duration $mode;
}

// device
$pad: 960px;
$mobile: 796px;

@mixin pad {
    @media (max-width: $pad) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

//

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    // hide scroll bar
    overflow: -moz-hidden-unscrollable;
}

body::-webkit-scrollbar {
    // hide scroll bar
    display: none;
}

body {
    color: $font-color;
    font-family: $font-family;
    // hide scroll bar
    -ms-overflow-style: none;
    height: 100%;
    overflow: auto;
}

//
.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
}

.btn {
    display: block;
    width: 180px;
    height: 40px;
    margin: 20px 0;
    @include font(16px, 400, 0.05em, 40px, $main-color);
    font-family: $content-font-family;
    text-align: center;
    border: 1px solid $main-color;
    border-radius: 6px;
    @include transition(0.3s, ease);
    @include animation(pulse, 1s, infinite);

    &:hover {
        color: $accent-color;
        border-color: $accent-color;
    }
}

//
.fixed {
    z-index: 99;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    @include flex(center, center);
    background-color: #ffffff;
    border: 1px solid $main-color;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba($font-color, 0.16);
    @include transition(0.3s, ease);

    &:hover {
        cursor: pointer;
        bottom: 25px;
    }
}

//
section {
    width: 100vw;
}

//
header {
    z-index: 9;
    position: fixed;
    @include font(24px, 500, 0.1em, 35px, $main-color);
    &::before {
        content: "";
        height: 90px;
        position: absolute;
        left: 335px;
        top: 0;
        border-left: 1px solid $main-color;
    }
    .logo {
        position: relative;
        top: 90px;
        left: 240px;
        &::before {
            content: "";
            height: 40px;
            position: absolute;
            top: 40px;
            left: 90px;
            border-left: 1px solid $main-color;
            transform: rotate(45deg);
            @include transition(0.3s, ease);
        }
        &::after {
            content: "";
            height: 40px;
            position: absolute;
            top: 40px;
            left: 90px;
            border-left: 1px solid $main-color;
            transform: rotate(-45deg);
            @include transition(0.3s, ease);
        }
        &:hover {
            cursor: pointer;
            &::before {
                transform: rotate(30deg);
            }
            &::after {
                transform: rotate(-60deg);
            }
            .spark-joy-walter {
                transform: rotate(5deg);
            }
            .moonplo {
                transform: rotate(-10deg);
            }
        }
        .moonplo {
            margin: 48px 0 0 10px;
            //letter-spacing: 0.48em;
            @include transition(0.35s, ease);
        }
        .spark-joy-walter {
            @include transition(0.25s, ease);
        }
    }
}

@include mobile {
    header {
        font-size: 18px;
        line-height: 30px;
        &::before {
            left: 120px;
        }
        .logo {
            top: 90px;
            left: 30px;
            &::before {
                height: 30px;
                top: 30px;
                left: 90px;
            }
            &::after {
                height: 30px;
                top: 30px;
                left: 90px;
            }
            .moonplo {
                margin: 30px 0 0 10px;
            }
        }
    }
}

.header {
    width: 100vw;
    height: 100px;
    @include font(20px, 500, 0.1em, 20px, $main-color);
    background-color: $header-color;
    box-shadow: 0px 3px 3px rgba($font-color, 0.16);

    &::before {
        display: none;
    }
    .logo {
        position: relative;
        top: 10px;
        left: 140px;
        &::before {
            content: "";
            height: 30px;
            position: absolute;
            top: 25px;
            left: 80px;
            border-left: 1px solid $main-color;
            transform: rotate(45deg);
        }
        &::after {
            content: "";
            height: 30px;
            position: absolute;
            top: 25px;
            left: 80px;
            border-left: 1px solid $main-color;
            transform: rotate(-45deg);
        }
        &:hover {
            cursor: pointer;
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
            .spark-joy-walter {
                transform: rotate(0deg);
            }
            .moonplo {
                transform: rotate(0deg);
            }
        }
        .moonplo {
            margin: 40px 0 0 0;
            //letter-spacing: 0.48em;
        }
    }
}

@include mobile {
    .header {
        height: 80px;
        font-size: 16px;
        line-height: 20px;
        .logo {
            top: 10px;
            left: 20px;
            &::before {
                height: 20px;
                top: 23px;
                left: 60px;
            }
            &::after {
                height: 20px;
                top: 23px;
                left: 60px;
            }
            .moonplo {
                margin: 25px 0 0 0;
            }
        }
    }
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    @include font(30px, 500, 0.4em, 44px, $main-color);
}

.main {
    height: 100vh;
    position: relative;
    .cover {
        position: absolute;
        right: 140px;
        bottom: 90px;
        img {
            width: auto;
            height: 60vh;
        }
    }
    .info {
        position: absolute;
        left: 140px;
        bottom: 120px;
        @include font(24px, 400, 0, 36px, $main-color);
        font-family: $font-family;
        .date {
            margin: 20px 0;
            font-size: 36px;
            span {
                font-size: 52px;
            }
        }
        .time {
            margin: 10px 20px;
            letter-spacing: 0.1em;
            span {
                font-size: 32px;
            }
        }
        .place {
            font-size: 20px;
            letter-spacing: 0.1em;
            font-family: $content-font-family;
        }
        .address {
            margin: 0 10px;
            font-size: 20px;
            letter-spacing: 0.1em;
            font-family: $content-font-family;
        }
    }
}

@include mobile {
    .main {
        .cover {
            top: 240px;
            right: 0;
            img {
                width: 80vw;
                height: auto;
            }
        }
        .info {
            left: 30px;
            bottom: 30px;
            font-size: 18px;
            line-height: 28px;
            &::after {
                z-index: 1;
                content: "";
                width: 80vw;
                height: 120px;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(#ffffff, 0.6);
            }
            .date {
                z-index: 2;
                position: relative;
                margin: 10px 0;
                font-size: 26px;
                span {
                    font-size: 36px;
                }
            }
            .time {
                z-index: 2;
                position: relative;
                margin: 6px 20px;
                letter-spacing: 0.1em;
                span {
                    font-size: 24px;
                }
            }
            .place {
                font-size: 14px;
            }
            .address {
                font-size: 14px;
            }
        }
    }
}

//
.title {
    padding-bottom: 17px;
    @include font(28px, 700, 0.1em, 38px, $accent-color);
    span {
        font-size: 24px;
    }
}

.content {
    @include font(18px, 400, 0, 32px, $font-color);
    font-family: $content-font-family;
    span {
        padding-right: 10px;
        @include font(28px, 400, 0, 30px, $accent-color);
        font-family: $font-family;
    }
    b {
        font-weight: 700;
        font-size: 20px;
    }
    i {
        color: $main-color;
    }
    .soon {
        position: relative;
        &::before {
            z-index: 2;
            content: "Coming Soon!";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            @include font(40px, 700, 0, 30px, #ffffff);
            font-family: $font-family;
            font-style: italic;
        }
        &::after {
            z-index: 1;
            content: "";
            width: 520px;
            height: 301.61px;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba($accent-color, 0.7);
        }
        img {
            width: 520px;
            height: 301.61px;
        }
    }
}

.start-joy-wrapper {
    @include flex(center, center);
}

.start-joy-container {
    width: 1120px;
    padding: 200px 0 60px 0;
    position: relative;

    #sparkJoy,
    #startJoy {
        position: relative;
    }

    #timeArt {
        position: relative;
        left: calc(1120px - 800px);
        .title {
            color: $main-color;
        }
    }

    #sparkJoy {
        width: 670px;
        margin: 60px 0;
        padding: 100px 70px 90px 113px;
        background-color: $secondary-color;
        border-radius: 80% 60% 90% 70%;
        //@include transition(0.6s, ease);

        &:hover {
            cursor: pointer;
            //border-radius: 86% 64% 88% 75%;
            @include animation(shake, 1s, infinite);
        }
    }

    #timeArt {
        width: 760px;
        margin: 60px 0;
        padding: 70px 120px;
        border: 1px solid $main-color;
        border-radius: 80% 75% 70% 70%;
        text-align: right;
        @include transition(0.8s, ease);

        &:hover {
            cursor: pointer;
            border-radius: 86% 64% 88% 75%;
            &::after {
                border-radius: 80% 75% 70% 70%;
            }
        }

        &::after {
            content: "";
            width: 760px;
            height: 540px;
            position: absolute;
            top: -5px;
            left: 10px;
            border: 1px solid $third-color;
            border-radius: 74% 70% 77% 78%;
            @include transition(0.8s, ease);
        }
        .content {
            iframe {
                min-width: 480px;
                width: 480px;
                max-width: 480px;
            }
        }
    }

    // #startJoy {
    //     width: 640px;
    //     margin: 60px 0;
    //     padding: 100px 100px;
    //     background-color: $header-color;
    //     border-radius: 60% 70% 63% 78%;
    //     //@include transition(0.5s, ease);
    //     &:hover {
    //         cursor: pointer;
    //         @include animation(shake, 1s, infinite);
    //         //border-radius: 74% 70% 77% 78%;
    //     }
    // }
}

@include mobile {
    .content {
        font-size: 16px;
        line-height: 30px;
        b {
            font-size: 18px;
        }
        i {
            color: $main-color;
        }
        .soon {
            position: relative;
            &::before {
                font-size: 30px;
            }
            &::after {
                z-index: 1;
                content: "";
                width: calc(100vw - 100px);
                height: calc(100% - 9px);
                position: absolute;
                left: 18px;
                top: 0;
            }
            img {
                width: calc(100vw - 100px);
                height: auto;
            }
        }
    }

    .start-joy-container {
        width: calc(100vw - 40px);

        #timeArt {
            left: 0px;
        }

        #sparkJoy {
            width: calc(100vw - 40px);
            margin: 40px 0;
            padding: 30px 20px;
            border-radius: 10px;

            &:hover {
                @include animation(pulse, 1s, infinite);
            }
        }

        #timeArt {
            width: calc(100vw - 40px);
            margin: 40px 0;
            padding: 30px 20px;
            border-radius: 10px;

            &:hover {
                border-radius: 10px;
                &::after {
                    border-radius: 10px;
                }
            }

            &::after {
                content: "";
                width: calc(100vw - 40px);
                height: calc(100%);
                top: 8px;
                left: 5px;
                border-radius: 10px;
            }
        }
    }
}

// join
#join {
    background: $secondary-color;
    @include flex(center, center);
}

.join-container {
    width: 1120px;
    padding: 80px 0;
    h1 {
        color: $accent-color;
    }
    p {
        font-family: $content-font-family;
    }
    .paragraph-wrap {
        margin-top: 50px;
    }
    .bonus-container {
        margin: 20px 0;
        font-family: $content-font-family;
        text-align: center;
        @include flex(space-between, center);

        .bonus-item {
            @include transition(0.3s, ease);
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                cursor: pointer;
                .icon {
                    transform: rotate(10deg);
                    background-color: rgba(#ffffff, 1);
                }
                .bonus {
                    color: $main-color;
                }
            }
        }
        .icon {
            width: 180px;
            height: 180px;
            margin-bottom: 16px;
            @include flex(center, center);
            border-radius: 50%;
            background-color: rgba(#ffffff, 0.6);
            box-shadow: 0px 3px 10px rgba($font-color, 0.16);
        }
    }
}

.add-office-account-btn {
    @include transition(0.3s, ease);
    &:hover {
        opacity: 0.6;
    }
    img {
        margin: 20px 0;
        height: 50px;
    }
}

@include pad {
    .join-container {
        width: calc(100vw - 40px);
        .bonus-container {
            margin: 20px 0;
            flex-wrap: wrap;
            justify-content: center;

            .bonus-item {
                width: 120px;
                margin: 20px;
                @include transition(0.3s, ease);
                &:hover {
                    cursor: pointer;
                    .icon {
                        transform: rotate(10deg);
                        background-color: rgba(#ffffff, 1);
                    }
                    .bonus {
                        color: $main-color;
                    }
                }
            }
            .icon {
                width: 120px;
                height: 120px;
                margin-bottom: 16px;
                @include flex(center, center);
                border-radius: 50%;
                background-color: rgba(#ffffff, 0.6);
                box-shadow: 0px 3px 10px rgba($font-color, 0.16);
            }
        }
    }
}

//
.location {
    height: 400px;
}

//
footer {
    height: 140px;
    @include flex(space-between, center);
    @include font(10px, 400, 0, 20px, #ffffff);
    font-family: $content-font-family;
    background-color: $main-color;
    text-align: center;
    .copyright {
        margin: 0 40px;
        // @include flex(flex-start, center);
    }
    .link-container {
        @include flex(flex-start, center);
        margin-top: 12px;
        img {
            margin: 0 10px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .logo {
        margin-right: 70px;
        @include flex(flex-end, center);
        #walter {
            margin-right: -10px;
            height: 60px;
        }
        #moonpio {
            height: 100px;
        }
    }
}

@include mobile {
    footer {
        height: 180px;
        flex-direction: column;
        .copyright {
            margin: 10px;
        }
        .link-container {
            @include flex(center, center);
        }
        .logo {
            margin-right: 0;
            #walter {
                margin-right: 0px;
                height: 39px;
            }
            #moonpio {
                height: 65px;
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale3d(1.02, 1.02, 1.02);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        border-radius: 80% 60% 90% 70%;
    }
    50% {
        border-radius: 86% 64% 88% 75%;
    }
    100% {
        border-radius: 80% 60% 90% 70%;
    }
}
